<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<title>Checkers</title>
		<link href="{{ url_for('static', filename='all.css') }}" rel="stylesheet">

	</head>
	<body>

		<div class="container outer">
			<div class="container inner">

				<form action="/0" method="GET">
					<button class="team-btn black">Black</button>
				</form>

				<form action="/1" method="GET">
					<button class="team-btn red">Red</button>
				</form>

			</div>
		</div>

	</body>
</html>