<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Checkers | Page Not Found</title>
		<style>

			html, body {
				font-family: Arial;
				position: absolute;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;

			}

			h1 {
				text-align: center;
				font-size: 4vw;
				margin-top: 100px;
			}

		</style>

	</head>
	<body>

		<h1>Page Not Found</h1>

	</body>
</html>